html {
    position: relative;
}

body {
    margin-bottom: 100px;
    margin-top: 30px;
}

.jumbotron {
    height: 410px;
    background-image: url('../img/header-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    /* background-position: 0 -100px; */
    background-position: 0 50px;
    color: #eaeaea;
}

.jumbotron img {
    width: 200px;
    border: 5px solid white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    background-color: #ebebeb;
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

hr {
    width: 250px;
    border-top: 3px solid #999;
}

section {
    min-height: 600px;
}

.portfolio {
    background-color: #eee;
}

.contact {
    min-height: 800px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top: 30px;
}

footer p {
    color: #aaa;
    font-size: 1em;
}